// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

$success :#C3D9C6;
$dark:#000000;
$secondary:#edf0ee;


@font-face {
  font-family: "SegoeUI";
  src: url(../../Fuentes/Segoe\ UI.ttf);
}

*{
    box-sizing: border-box;
    font-family: 'SegoeUI';
   
}

#logo_header{
  height: 15%;
  width: 15%;
}

#cerrarPanel:hover{
  cursor:pointer;
}

#actualizarTicketsActivos:hover{
  cursor:pointer;
}


@import "../node_modules/bootstrap/scss/bootstrap";